body {
	font-family: Helvetica;
	color: #101B2F;
}

table {
	width: 500px;
	border: 2px solid #79AEEE;
	border-collapse: collapse;
}

td {
	border:1px solid #79AEEE;
}

tr:hover {
	background-color: #6E8491;
	color: white;
}

#inboxcount {
	font-size: 20px;
	font-weight: bold;
}

#loadmail {
  float: left;
}

#messagebody {
	border: 2px solid #79AEEE;
	position: relative;
	height: 378px;
	width: 500px;
	margin-top: -18px;
	margin-left: 510px;
  padding: 1em;
}